<div class="section scrollspy" id="features">

  <!--   Icon Section   -->
  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center" style="color:#333"><i class="mdi-av-new-releases"></i></h2>
        <h5 class="center">Easy Integration</h5>

        <p class="light">Integration is as easy as copy pasting a link to your page</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center" style="color:#333"><i class="mdi-hardware-cast"></i></h2>
        <h5 class="center">Unlimited Everything</h5>

        <p class="light">Unlimited customer support agent, Unlimited customer support, Unlimited channels.</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center" style="color:#333"><i class="mdi-hardware-keyboard-alt"></i></h2>
        <h5 class="center">Its Open Source</h5>
        <p class="light">This is open source software, you can fork/download and setup as your own software!</p>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12" style="color: #333;">Its all free!</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="<%= asset_path('free.jpeg') %>" alt="img"></div>
</div>

<div class="parallax-container valign-wrapper section scrollspy" id="aboutus">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="center row col s3">

        <h3>About Us</h3>
      </div>
      <div class="center row col s12">
        <p>I am Irfan Ahmed, Software Engineer, Workspoke. I have been working as a Ruby developer for last 8 years.
          In the meanwhile, I have realized that there is no better open source easy to install customer support
          software.
          So, I started to build this to give power to startup to get in touch with their customer support easily and
          freely.
          I am building this software in my spare time. </p>
      </div>

    </div>
  </div>
  <div class="parallax"><img src="<%= asset_path('1423255813yuwjj.jpg') %>" alt="img"></div>
</div>

<div class="container section scrollspy" id="contactus">
  <div class="section">
    <br>
    <br>
    <h2>Contact Us</h2>

    <div class="row">

      <form class="col s8">

        <div class="row">
          <div class="input-field col s6">
            <input id="name" type="text" class="validate">
            <label for="name">Your Name</label>
          </div>


          <div class="input-field col s6">
            <input id="email" type="email" class="validate">
            <label for="email">Your Email</label>
          </div>
        </div><!--row-->

        <div class="row">
          <div class="input-field col s12">
            <input id="message-sub" type="email" class="validate">
            <label for="message-sub">Message Subject</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <textarea id="text_area" class="materialize-textarea"></textarea>
            <label for="text_area">Your Message</label>
          </div>
        </div>


        <div>
          <a class="waves-effect waves-light btn purple lighten-1">Send
            Message<i class="mdi-content-send right"></i></a>
        </div>
      </form>

      <div class="col s12 m4">
        <p>

        </p>
        <ul class="share-buttons">
          <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u=&t=" target="_blank" title="Share on Facebook"><img src="<%= asset_path('flat_web_icon_set/inverted/Facebook.png') %>"></a>
          </li>
          <li>
            <a href="https://twitter.com/intent/tweet?source=&text=:%20" target="_blank" title="Tweet"><img src="<%= asset_path('flat_web_icon_set/inverted/Twitter.png') %>"></a>
          </li>
          <li>
            <a href="https://plus.google.com/share?url=" target="_blank" title="Share on Google+"><img src="<%= asset_path('flat_web_icon_set/inverted/GooglePlus.png') %>"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
